@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}


swiper-container {
  display:flex;
  align-items: center !important;

  --v-offset: 60px;
  --curve-height: 120px;

  &:before,
  &:after {
    content: "";
    z-index: 99;
    display: block;
    background: white;
    width: calc(100vw + 2 * var(--v-offset));
    height: var(--curve-height);
    position: absolute;
    border-radius: 45%;
    left: calc(-1 * var(--v-offset));
    right: calc(-1 * var(--v-offset));
  }

  &:before {
    width: 100%;
    top: calc(-0.7 * var(--curve-height));
  }
  &:after {
    width: 100%;
    bottom: calc(-0.7 * var(--curve-height));
  }
}

swiper-slide {
  width: 100%;
  height:400px;
}


.main-banner-container {
  position: absolute;
  width: 100%;
  height: 430px;
  overflow: hidden;
  z-index: 30;
}

.banner-container {
  display: flex; 
  overflow: hidden;
  position: relative;
  top:0;
  left:0;
  width: 200%; 
  /* rotate : -12.5deg; */
  animation: marquee 5s linear infinite;
}

.banner-image {
  flex-shrink: 0;
  width: 50%; 
}

.hover\:underline-custom:hover {
  
  font-weight: bold;
  font-size: 110%;
  padding-bottom: 2px; /* Adjust the padding as needed */
  color: #8F264F; /* Adjust the color as needed */
}
.hover\:bg-sky-700:hover {
  background-color: #0369a1;
}

@keyframes marquee {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
}